*
!.gitignore

!proc
proc/*
!proc/cpuinfo
!proc/meminfo
!proc/diskstats

!etc
etc/*
!etc/issue
!etc/os-release
# /etc/mysql/my.cnf
/*
!/etc
/etc/*
!/etc/mysql
/etc/mysql/*
!/etc/mysql/my.cnf

# /var/log/mysql/slowdump.log
/*
!/var
/var/*
!/var/log
/var/log/*
!/var/log/mysql
/var/log/mysql/*
!/var/log/mysql/slowdump.log

# /etc/redis/redis.conf
/*
!/etc
/etc/*
!/etc/redis
/etc/redis/*
!/etc/redis/redis.conf

# /home/isucon/env.sh
/*
!/home
/home/*
!/home/isucon
/home/isucon/*
!/home/isucon/env.sh

