*
!.gitignore

!proc
proc/*
!proc/cpuinfo
!proc/meminfo
!proc/diskstats

!etc
etc/*
!etc/issue
!etc/os-release
# /etc/redis/redis.conf
/*
!/etc
/etc/*
!/etc/redis
/etc/redis/*
!/etc/redis/redis.conf

