*
!.gitignore

!proc
proc/*
!proc/cpuinfo
!proc/meminfo
!proc/diskstats

!etc
etc/*
!etc/issue
!etc/os-release
# /etc/nginx/nginx.conf
/*
!/etc
/etc/*
!/etc/nginx
/etc/nginx/*
!/etc/nginx/nginx.conf

